.headBarContainer {
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 0.5rem 2rem;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftSection, .rightSection {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.rightSection p {
    display: flex;
    gap: 0.3rem;
    cursor: pointer;
    transition: color 0.3s;
}

.rightSection svg {
    font-size: 1.2rem;
}

.rightSection p:hover {
    color: #0066cc;
}