.CardInfo{
    width: 100%;
    height:40vh;
    display: flex;
    align-items: center;
    gap:2vw;
    border: 1px solid black;
    box-shadow: inset 0 1px 5px 1px;
    margin-bottom: 3vh;
}

.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:1vh;
    padding-left: 5vw;
    padding-bottom: 16vh;
    margin-right: 5vw;
}


.navigation{
    display: flex;
    gap:2vw;
}


.navBtn{
    background-color: transparent;
    border: transparent;
}


.container > h1 {
    font-size: 1.3rem;
}


.card{
    width:20vw;
    height:30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:2vh;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: inset 0 1px 1px 1px;
    padding-left: 2vw;
}