.itemCard{
    width:23vw;
    height:40vh;
    border: 1px solid black;
    padding: 2vh 5vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap:3vh;
}


.btnContainer{
    display: flex;
    align-items: center;
    gap:1vw;
}