.mainContainer{
    width:100%;
    height:200vh;
    display:flex;
    flex-direction: column;
    gap:5vh;
}


.itemContainer{
    width:100%;
    height:150vh;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 10vw;
}
