.cardContainer{
    width:100vw;
    height:auto;
    overflow-y: scroll;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:2vh;
}


.bidContainer{
    width:90vw;
    height:50vh;
    border: 2px solid black;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1vh;
}


.Card{
    display:flex;
    margin-top:2vh;
    gap:2vw;
}


.CardInfo{
    width:16vw;
    height:40vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 3%;
    gap:0.5vh;
}


.CardInfo > p{
    font-size: 1.1rem;
    font-weight: bold;
}


.CardImage{
    width:100%;
    height:60%;
    border-radius: 3%;
}


.Price{
    font-size: 1rem;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:0.3vw;
}


.droppedItem{
    width:90vw;
    height:50vh;
    border: 2px solid black;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.droppedItemInfo{
    display:flex;
    align-items: center;
    gap:3vw;
}


.droppedItemDeleteBtn{
    background-color: transparent;
    border: none;
    text-align: center;
    &:hover{
        color:white;
        background-color: red;
        padding: 0.1vh 1vw;
        transform: scale(1);
        transition: 0.5s ease-in-out
    }
}


.reorderContainer{
    list-style:none;
    display:flex;
    gap:1vw;
}