.CardInfo{
    width:16vw;
    height:40vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 3%;
    gap:0.5vh;
}

.CardInfo > p{
    font-size: 1.1rem;
    font-weight: bold;
}

.CardImage{
    position: inherit;
    width:100%;
    height:60%;
    border-radius: 3%;
}

.Price{
    padding-top:1vh;
    padding-left:1vw;
    font-size: 1rem;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:1vw;
    text-align: center;
}


.bidBtn{
    background-color: transparent;
    border: 2px solid green;
    box-shadow: 0 1px 3px 0;
    padding:0.5vh 1.1vw;
    margin-right:1vw;
    &:hover{
        cursor: pointer;
        background-color:red;
        border:none;
        color:white;
        transform: scale(1.1);
        transition: all 0.5s ease-in-out;
    }
}


.deleteBtn{
    background-color: transparent;
    border:none;
    font-size: 1rem;
    &:hover{
        transform:scale(1.1);
        transition: 0.5s ease-in-out;
        
    }
}


.icon{
    color:red;
}